
*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: black;
}
.hero-body {
  background-image: url("https://wallpaperaccess.com/full/849790.gif");
  height: 100vh;
  background-size: cover;
}
.portfolio-body {
  background-color: black;
}
.contact-body {
  background-image: url("https://archive-media-0.nyafuu.org/wg/image/1521/64/1521641743829.gif");
  height: 100vh;
}
